<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gyamoto.sharedelement">

    <application>
        <activity
            android:name=".ui.SharedElementResultActivity"
            android:label="@string/title_activity_shared_element_result"
            android:theme="@style/AppTheme.Animation"/>
        <activity
            android:name=".ui.SharedElementActivity"
            android:label="@string/title_activity_shared_element"
            android:theme="@style/AppTheme.Animation" />
    </application>

</manifest>