<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.gya.androidexamples">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.example.behaviornotify.BehaviorNotifyActivity" />

        <activity android:name="com.example.griddecoration.GridDecorationActivity" />

        <activity android:name="com.example.multirecycler.MultiRecyclerActivity" />

        <activity android:name="com.example.simplesharedelement.SimpleSharedElementActivity" />

        <activity android:name="com.example.coordinators.CoordinatorsActivity" />

        <activity android:name="com.example.viewmap.ViewMapActivity" />

        <activity android:name="com.example.overscrolltodismiss.OverScrollToDismissListActivity" />
        <activity
            android:name="com.example.overscrolltodismiss.DismissCoordinatorActivity"
            android:theme="@style/OverScroll.Translucent" />
        <activity
            android:name="com.example.overscrolltodismiss.DismissNestedScrollActivity"
            android:theme="@style/OverScroll.Translucent" />
        <activity
            android:name="com.example.overscrolltodismiss.DismissRecyclerActivity"
            android:theme="@style/OverScroll.Translucent" />

        <activity android:name="com.gyamoto.sharedelement.ui.SharedElementActivity" />
        <activity android:name="com.gyamoto.sharedelement.ui.SharedElementResultActivity" />
    </application>

</manifest>
